@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

:root {
    --accent: #e4ba00;
    --white: #fff;
    --black: #000;
}

body {
    padding: 0 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

p {
    font-family: 'Inter', serif;
    word-wrap: break-word;
}

h1 {
    font-family: 'Outfit', sans-serif;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

nav h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
    margin: 0 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 8px;
    gap: 20px;

    a {
        text-decoration: none;
        font-family: 'Inter', serif;
        color: var(--black);
    }

    a:hover {
        color: var(--accent);
        text-decoration: none;
        transition: 0.2s;
    }

    a.active {
        color: var(--accent);
        text-decoration: none;
    }
}

/* Image */
img {
    width: 100%;
    height: auto;
    padding-top: 20px;
}

.img-description {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    opacity: 0.9;
    font-size: 13px;
    margin-top: 0px;
    text-align: right;
}

/* Footer */

main {
    flex: 1;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% + 100px);
    margin: 50px -50px  -50px;
    background-color: var(--black);

    p {
        padding: 10px 20px;
        color: var(--white);
    }
}

p {
    font-family: 'Inter', serif;
    font-size: 14px;
}

.sources-link {
    color: var(--white);
    text-decoration: none;
    text-align: end;
}
/* Scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: var(--black);
    padding-right: 10px;
    border-radius: 0;
}

/* Galery */
/* .galery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.galery img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    padding-top: 0;
}

.galery img:nth-child(5),
.galery img:nth-child(8) {
    grid-column: span 2;
    aspect-ratio: 16/6;
} */

/* Exhibition */
.exhibition-container {
    margin-top: 65px;
}

.exhibition-container h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    margin: 0 0 20px 0;
}

dl {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 8px 40px;
    font-family: 'Inter', serif;
    font-size: 14px;
}

dt {
    font-weight: 400;
    color: var(--black);
}

dd {
    margin: 0;
    color: var(--black);
}



